@charset "utf-8";
html {
  height: 100%;
}
body {
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
}
li {
  list-style: none;
}
p, ul {
  margin: 0;
  padding: 0;
}
div,li {
  box-sizing: border-box;
}
.header_nav {
  background: linear-gradient(90deg, #fff 20%, rgba(0,0,0,.6) 60%);
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: stretch;
  position: fixed;
  top: 0;
  width: 100%;
}
.global_nav_item {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.global_nav_item:hover {
  background: #fff;
  color: #42210b;
}
.global_nav {
  display: flex;
  align-items: stretch;
}
.logo {
  width: 120px;
  display: flex;
  align-items: center;
}
.logo img{
  width: 100%;
}
.section_inner {
  padding: 50px 10% 30px;
}
.key {
  height: 500px;
  background: center / cover no-repeat url("../images/sample_key.jpg");
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.key h1{
  font-size: 2.5rem;
}
.section_title {
  font-family: 'Noto Serif JP', serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.menu_title {
  display: inline-block;
  font-family: 'Noto Serif JP', serif;
  font-size: 1.5rem;
  color: #42210b;
  border-bottom: solid #42210b 1px;
  margin-bottom: 20px;
}
.center {
  text-align: center;
}
.caffee_menu_image {
  width: 20%;
  border-radius: 50%;
}

/* HTML/CSS基礎文法シリーズ課題「CONCEPTセクション」用に追加 */
/* flex-boxを作成することで、文章が右、画像が左のレイアウトを実装*/
.concept{
    display: flex;
    justify-content: space-between;
}
/* 「文章」ブロック、「画像」ブロックにそれぞれ幅を設定する（※pタグと異なり、imgタグがインライン要素であるが幅、高さの設定が可能な特殊な要素）*/
.concept p{
    width: 60%;
}
.concept img{
    width: 35%;
}

/* HTML/CSS基礎文法シリーズ課題「MENUセクション」用に追加 */
/* MENUセクションの背景に画像を装飾。スクロールしても画像が動かないようにbackground-attachmentを設定 */
.menu_image{
    background: center / cover no-repeat url("../images/sample_menu_bg.jpg");
    background-attachment: fixed;
}
/* Recommend Menuのレイアウトを指示通りに設定（文字の装飾についての指示はなかったが、これまでの学習内容を踏まえて「item_title」「price」クラスで設定 */
.recommend_menu{
  display: flex;
  justify-content: space-between;
}
.pancake{
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
}
.pancake div{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.pancake img{
  width: 55%;
  object-fit: cover;
}
.item_title{
  font-family: 'Noto Serif JP', serif;
}
.price{
  color:  #42210b;
  text-align: right;
}
/* Coffee Menuのレイアウトを指示通りに設定（文字の装飾についての指示はなかったが、これまでの学習内容を踏まえて「item_title」「price」クラスで設定 */
.coffee_menu{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  background-color: #fff;
}
.coffee_item{
  width: 49%;
  display: flex;
  flex-direction: row-reverse;
  padding: 10px;
}
/* paddingについては指示がなかったので自己設定 */
.coffee_item div{
  width: 80%;
  padding: 10px;
}
.coffee_item img{
  width: 20%;
}

/* HTML/CSS基礎文法シリーズ課題「ACCESSセクション」用に追加 */
.access{
  display: flex;
}
.access dt{
  width: 80px;
}
iframe{
  width: 100%;
}

/* HTML/CSS基礎文法シリーズ課題「footer」用に追加 */
.footer{
  background-color: #251e19;
  color: #fff;
  height: 75px;
}
/* font-sizeの指定はなかったので自己設定 */
.footer p{
  text-align: center;
  font-size: 10px;
}
.footer_nav_menu{
  display: flex;
  justify-content: center;
}
/* paddingの指定はなかったので自己設定 */
.footer_nav_item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5px 10px;
}
/* ロゴ画像について、widthの指定はなかったがデフォルトの大きさだと他の文字がheaderに収まらなかったので自己設定 */
.footer_logo {
  width: 80px;
}